* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}

/* header-section-start
    ------------------------*/
.headerWrapper {
  width: 100%;
}

.headerWrapper {
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.headingWrap-menu {
  width: 100%;
}

.mobileView {
  display: block !important;
}

.headingWrap-menu {
  display: flex;
}

.headingSection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.logo {
  margin: auto 0;
}

.headingWrap-menu .logo {
  flex: 0 0 20%;
}

.logoImage {
  width: 230px;
  margin-left: 10px;
}

.headTryNow button {
  border-radius: 0.8vh !important;
}

.buttonTheme2 {
  background: #fff;
  font-size: 16px;
  color: #f47d31;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  padding: 10px 25px;
  border: 1px solid #f47d31 !important;
  text-align: center;
}

.sidenav-container {
  display: none;
}

.closeSideNav {
  display: none !important;
}
.sidenav-plate {
  display: block;
  position: fixed;
  height: 100%;
  width: 230px;
  top: 0;
  right: 0;
  background-color: #070245;
  z-index: 999;
}

.sidenav-menuHolder {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav-menuHolder {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.sidenav-menuHolder ul {
  list-style: none;
  color: #fff;
  padding-left: 20px;
}

.sidenav-menuHolder ul li {
  margin-top: 30px;
}

.mobile-menu-li ul li {
  margin-top: 30px;
}

.sidenav-menuHolder ul li a {
  color: #fff;
  font-size: 0.8rem;
}

.socialMediaContainer {
  margin-bottom: 20vh;
}

.socialMediaContainer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.socialMediaIconsHolder {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fff;
}

.socialMediaIconsHolder a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 20px;
}

.menuHolder {
  margin-left: 2%;
}

.menuHolder {
  margin-top: 10px;
  flex: 1;
}

.menuHolder ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menuHolder .list li {
  padding: 0 10px;
}

.menuHolder ul li {
  list-style: none;
  padding: 0 0.5rem;
  text-decoration: none;
}

.menuHolder .list li a {
  font: 12px;
}

.menuHolder ul li a {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}

.menuHolder ul li a:hover {
  color: #f47d31;
  text-decoration: none;
}

.pcView {
  display: flex !important;
}

.headingWrap-menu {
  width: 100%;
}
.headingWrap-menu {
  display: flex;
}

.logo {
  margin: auto 0;
}

.headingWrap-menu .logo {
  flex: 0 0 20%;
}

.logoImage {
  width: 230px;
  margin-left: 10px;
}

.mobile-icon {
  display: none;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.loginButton {
  color: #fff !important;
}

.buttonTheme1 {
  background: #f47d31;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  padding: 10px 25px;
  border: 1px solid #f47d31;
  text-align: center;
}

.menuHolder .list li {
  padding: 0 10px;
}

#sidenav-button,
#sidenav-x-button {
  font-size: 29px;
  color: #f47d31;
}
.mobile-menu-x {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 10px;
}

.headTryNow {
  display: none;
}
/* header-section-responsiveness with media query
      -------------------------------------------------- */
/* header-section for tablet */
@media only screen and (max-width: 991px) and (min-width: 601px) {
  .headerWrapper {
    padding: 10px 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .headingWrap-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }
  .menuHolder {
    display: none;
  }
  .sidenav-container {
    display: block;
  }
  .headTryNow {
    display: block;
    margin-left: auto;
    margin-right: 54px;
  }
  .headTryNow button {
    border-radius: 0.8vh !important;
  }
  .headTryNow .buttonTheme2 {
    font-size: 14px;
    padding: 5px 16px;
  }
}

/* header-section for mobile */
@media only screen and (max-width: 600px) {
  .headerWrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    left: 0;
    z-index: 5;
  }
  .logoImage {
    width: 200px;
    padding-left: 10px;
  }
  .headerWrapper {
    padding: 10px 0;
  }
  .headingWrap-menu {
    margin-right: 10px;
  }

  .menuHolder {
    display: none;
  }
  .sidenav-container {
    display: block;
  }
  .headingWrap-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }
  .headTryNow {
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }
  .headTryNow .buttonTheme2 {
    font-size: 14px;
    padding: 5px 16px;
  }
}
/* header-section-end
------------------------*/

/* happy-place-section */
.topMenuMargin {
  max-width: 100vw;
}
.heading-text {
  font-size: 36px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 20px;
}
.orange-seperator {
  width: 130px;
  height: 10px;
  border-radius: 9px;
  background: #f68a40;
  margin: 20px;
}
.filterHolder {
  width: 80%;
  justify-content: flex-start;
}
.filterHolder,
.menu {
  display: flex;
  flex-direction: row;
}
.categoryFilter {
  width: 45%;
  max-width: 300px;
  margin-left: 50px;
}
.search-input-text {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
} 
.menu-options {
  /* padding: 0px 2px; */
  /* border: 1px solid #e4e4e4; */
  border-radius: 4px; 
  cursor: pointer;
}
.ng-select {
  height: 100%;
  font-size: 14px;
  background-color: #fff !important;
  color: #fff !important;
} 
 .ng-select.ng-select-single .ng-select-container {
  height: 100% !important;
}

 .ng-select .ng-select-container {
  color: #757575;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  min-height: 36px;
  align-items: center;
  height: 100%;
}
.ng-select .ng-select-container {
  cursor: default;
  display: flex;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ng-select .ng-select-container {
  color: #333;
  background-color: #f6f8f9;
  border-radius: 4px;
  border: none;
  min-height: 36px;
  height: 100%;
  align-items: center;
}
.ng-select .ng-select-container {
  background-color: #fff;
  border: 1px solid #ccc !important;
  height: 100%;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.ng-select .ng-select-container .ng-value-container {
    display: flex;
    flex: 1;
}
.ng-select .ng-select-container .ng-value-container {
    align-items: center;
    padding-left: 10px;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #999;
}
.ng-select .ng-has-value .ng-placeholder {
    display: none;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    display: none;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    left: 0;
    position: absolute;
    width: 100%;
} 
.ng-select.ng-select-searchable .ng-select-container .ng-value-container .ng-input {
    opacity: 1;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 5px;
    left: 0;
    padding-left: 10px;
    padding-right: 50px;
}
.ng-select .ng-select-container .ng-value-container .ng-input>input {
    background: none transparent;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
    cursor: default;
    outline: none;
    padding: 0;
    width: 100%;
}
.ng-select .ng-arrow-wrapper { 
    cursor: pointer;
    position: relative;
    text-align: center;
    user-select: none;
} 
.ng-select .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;
}
.ng-select .ng-arrow-wrapper .ng-arrow {
    display: inline-block;
    height: 0;
    pointer-events: none;
    position: relative;
    width: 0;
} 
.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}


/* blog-page-gray-background part*/
.gray-background {
    background: #eff2f7;
    margin-top: 50px;
}
.featured-container {
  width: 85%;
  margin-top: 50px;
  display: flex;
}
.hero-left-content {
  height: 675px;
  width: 50%;
  cursor: pointer;
}
.hero-left-image {
  border-radius: 12px;
  width: 100%;
  height: 80%;
  margin-right: 20px;
  margin-bottom: 24px;
}
.small-text, .xs-text {
  font-size: 14px;
}
.heading-blog-detail {
  font-size: 32px;
}
.hero-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
  column-gap: 40px;
  width: 50%;
  height: 675px;
  margin-left: 40px;
}
.grid-image-1 {
  border-radius: 12px;
  width: 100%;
  height: 60%;
  margin-bottom: 24px;
  cursor: pointer;
}
.search-tabs, .sub-text {
  font-size: 14px;
} 
.orange-button {
  padding: 12px 28px;
  font-size: 14px;
  color: #fff;
  background-color: #f68a40;
  border-radius: 8px;
  border: none;
}

/* blog-page-top-category-section */
.top-category-container {
  width: 85%;
  margin-top: 40px;
}
.heading-text {
  font-size: 36px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 20px;
}
#categoryScroll {
  width: 80vw;
  margin: 0 auto;
  overflow-y: hidden;
}
#categoryScroll ul {
  margin: 0;
  padding: 0;
  display: table;
  list-style: none;
  border-spacing: 15px;
}
#categoryScroll li {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
} 
.cursorPointer {
  cursor: pointer;
}
#categoryScroll img {
  height: 300px;
}
#categoryScroll ul li h2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
}
 
.wave-bg {
  background: url("../assets/images/wave.svg") no-repeat;
  width: 100%;
  height: 220px;
}
 
.heading-text {
  font-size: 36px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 20px;
}
.health-container {
  width: 85%;
}

.freeReportListImg {
  border-radius: 0!important;
}
.showLess {
  -webkit-line-clamp: 3;
} 
.report-description {
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 0;
  padding: 5px 2px 0;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.showTxt {
  color: #f68a40;
  text-decoration: underline;
}

/* blog-page-all-sections responsiveness with media query
  ---------------------------------------------------- */
/* blog-page-all-sections for tablet device*/
@media only screen and (min-width: 601px) and (max-width: 991px){
  .blog{
    margin-top: 70px;
  }
  .heading-text {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}
.ng-select .ng-select-container { 
  width: 80%;
}
.orange-seperator {
  width: 130px;
  height: 10px;
  border-radius: 9px;
  background: #f68a40;
  margin: 20px;
}
.featured-container {
  width: 85%;
  margin-top: 50px;
  display: block;
}
.hero-left-content {
  height: 675px;
  width: 100%;
}
.small-text {
  font-size: 12px;
}
.heading-blog-detail {
  font-size: 24px;
}
.hero-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 750px;
  margin-left: 0;
}
.grid-image-1 {
  border-radius: 12px;
  width: 100%;
  height: 65%;
}
.sub-text {
  font-size: 14px;
}
.orange-button {
  padding: 10px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #f68a40;
  border-radius: 8px;
  border: none;
} 
.wave-bg {
  height: 140px;
} 
.health-container {
  width: 90%;
}
.orange-button {
  padding: 10px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #f68a40;
  border-radius: 8px;
  border: none;
} 
}
 

/* blog-page-all-section for tablet device */
@media only screen and (max-width:600px) {
  .blog{
    margin-top: 62px;
  }
  .heading-text{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
} 
.filterHolder {
  width: 90%;
  justify-content: space-evenly;
  margin-left: 0;
} 
  .categoryFilter {
    width:66%;
    max-width: 300px;
    margin-left: 8px; 
}
.ng-select .ng-select-container { 
  width: 100%;
}
.gray-background {
  margin-top: 20px;
}
.featured-container {
  width: 85%;
  margin-top: 50px;
  display: block;
}
.hero-left-content {
  height: auto;
  width: 100%;
}
.hero-left-image {
  border-radius: 12px;
  width: 100%;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 12px;
}
.small-text, .sub-head-text {
  font-size: 12px;
}
.heading-blog-detail {
  font-size: 16px;
}
.hero-right-content {
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
  width: 100%;
  height: max-content;
  margin-left: 0;
  margin-top: 20px;
}
.grid-image-1 {
  border-radius: 12px;
  width: 100%;
  height: 230px;
  margin-bottom: 20px;
}
.small-text, .sub-head-text {
  font-size: 12px;
}
.sub-text {
  font-size: 12px;
}
.orange-button {
  color: #fff;
  background-color: #f68a40;
  border-radius: 8px;
  font-size: 12px;
  padding: 8px 12px;
  border: none;
} 
.wave-bg { 
  height: 80px;
}
.top-category-container {
  margin-top: 0;
}
#categoryScroll img {
  height: 200px;
}
#categoryScroll ul li h2 {
  font-size: 16px;
}
.report-description {
  font-size: 14px;
}
#categoryScroll ul li button {
  margin-top: 10px;
}
.report-description {
  font-size: 14px;
}
.showTxt {
  color: #f68a40;
  text-decoration: underline;
  margin-bottom: 0;
}
.orange-button {
  color: #fff;
  background-color: #f68a40;
  border-radius: 8px;
  border: none;
} 
}


/* subscribe-section
---------------------- */
.boxRound.subsBox {
  margin-bottom: -50px;
  margin-top: 70px;
}
.boxRound {
  box-shadow: 0 -3px 16px rgb(31 101 255 / 11%);
  padding: 45px 80px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #fff;
  min-height: 242px;
}
.boxRound.subsBox:before {
  background: #07006e;
}
.boxRound:before {
  transform: translate(-50%);
  left: 0;
  background: #f47d31;
}
.boxRound:after,
.boxRound:before {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.secondaryHeading {
  width: 100%;
  text-align: center;
}
.secondaryHeading h2 {
  color: #021744;
  font-size: 36px;
  margin: 0;
  line-height: 1.5em;
  font-weight: 600;
}
.secondaryHeading hr {
  border-top: 2px solid #fd7d31;
  max-width: 100px;
  margin: 1rem auto;
  opacity: 100;
}
.boxRound.subsBox:after {
  background: #f47d31;
}
.boxRound:after {
  right: 0;
  background: #07006e;
  transform: translate(50%, 100%);
}
.emailBox {
  font-size: 12px;
  height: 40px;
}
.subsButton {
  border: none;
  margin-right: 10px;
  background: #f47d31 !important;
  font-size: 16px !important;
  color: #fff !important;
  display: inline-block !important;
  border-radius: 25px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
  padding: 8px 25px !important;
  border: 1px solid #f47d31 !important;
  text-align: center !important;
}

/* subscribe section responsiveness with media query
  ------------------------------------------------------ */
/* subscribe section for mobile */
@media only screen and (max-width: 600px) {
  .boxRound.subsBox {
    margin-top: 30px;
  }
  .boxRound.subsBox {
    padding: 40px;
  }
  .boxRound.subsBox:after,
  .boxRound.subsBox:before {
    width: 90px;
    height: 90px;
  }
  .subsBox .secondaryHeading h2 {
    font-size: 16px;
  }
}

/* footer-section
  ------------------- */
.footerWrap {
  background: #07006e;
  padding: 100px 0 50px;
  color: #fff;
  font-weight: 500;
}
.top-center {
  margin: auto;
  left: 0;
  right: 0;
  top: 1rem;
}
.bootstrap-alert {
  z-index: 2000;
  position: fixed;
}
.footerCont {
  max-width: 278px;
}

.contactInfo {
  margin-top: 15px;
}
.contactInfo li {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  list-style: none;
}
.contactInfo li i {
  position: absolute;
  left: 0;
  font-size: 14px;
  line-height: 24px;
}
.phoneCssFix a {
  text-decoration: underline;
  color: #fff;
}
.socialIconCont li {
  display: inline-block;
  padding-right: 10px;
}
.socialIconCont li a {
  font-size: 21px;
  color: #fff;
}
.quickLinkBox h3 {
  font-size: 20px;
  margin-bottom: 40px;
}
.quickLinkBox ul {
  padding-inline-start: 0;
}
.quickLinkBox ul li {
  padding-bottom: 8px;
  list-style: none;
}
.quickLinkBox ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.callbackBox h3 {
  font-size: 20px;
  margin: 0 0 19px;
}
.callbackInput input {
  background: #f6f6f6;
  font-size: 14px;
  height: 50px;
  padding: 10px 25px;
  margin-bottom: 17px;
}
.callbackInput .primaryBtn:hover {
  padding: 1.2vh 3.2vh;
  border-radius: 0.8vh;
  background: #2b1eeb;
  font-size: 2.4vh;
  display: inline-block;
  color: #fff;
}

.footerWarningBox {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background: #07006e;
  padding-bottom: 35px;
  color: #fff;
}
.footerWarningBox a {
  color: #f47d31;
}

.primaryBtn {
  padding: 1.2vh 3.2vh;
  border-radius: 0.8vh;
  background: #f68a40;
  font-size: 2.4vh;
  display: inline-block;
  color: #fff;
}

a {
  text-decoration: none;
}

/* footer section responsiveness with media query
    ---------------------------------------------------- */
/* footer-section for tablet */
@media only screen and (max-width: 991px) and (min-width: 601px) {
  .footerWarningBox hr {
    display: none !important;
    margin: 0;
    background-color: #fff;
  }
  .callbackInput .primaryBtn {
    font-size: 1.6vh;
    padding: 1vh 2vh;
  }
}

/* footer section for mobile */
@media only screen and (max-width: 600px) {
  .footerWarningBox hr {
    display: none !important;
    margin: 0;
    background-color: #07006e;
  }
  .quickLinkBox h3 {
    margin: 12px 0;
    font-size: 17px;
  }
  .callbackInput {
    text-align: center;
  }
  .primaryBtn {
    font-size: 12px;
    padding: 5px 15px;
  }
  .primaryBtn:hover {
    font-size: 12px;
    padding: 5px 15px;
  }
  .footerWarningBox .container {
    font-size: 12px;
    padding: 40px 10px 60px;
  }
}
